header {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  display: flex;
}

nav li {
  margin: 0 150px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}


footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    margin-top:596px;
    
    
  }
  
  footer h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-left, .footer-center, .footer-right {
    width: 30%;
    margin-left:60px;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  
